.FollowerCard{
    width: 100%;
    border-radius: 10px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    background-color: var(--cardColor);
}
.FollowerCard h3{
    padding: 0 10px;
}
